.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.bounce {
    animation-name: bounce;
}

.bone {
    margin: 20px;
    position: relative;
    width: 150px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: none;
}

.c1,
.c2,
.c3,
.c4 {
    background: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
}

.c1 {
    left: 0;
    top: 0;
}

.c2 {
    right: 0;
    top: 0;
}

.c3 {
    left: 0;
    bottom: 0;
}

.c4 {
    bottom: 0;
    right: 0;
}

.b1 {
    background: #fff;
    height: 30px;
    width: 120px;
    position: absolute;
    left: 15px;
    top: 15px;
}

.b2 {
    position: absolute;
    left: 15px;
    top: 0;
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bolder;

}

.bone {
    position: absolute;
    left: 15rem;
    top: 100%;
}

@keyframes rubberBand {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scaleX(1.25) scaleY(0.75);
    }

    40% {
        transform: scaleX(0.75) scaleY(1.25);
    }

    60% {
        transform: scaleX(1.15) scaleY(0.85);
    }

    100% {
        transform: scale(1);
    }
}

.rubberBand {
    animation-name: rubberBand;
}

.anim_message {
    color: #333;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 550px;
}

.anim_message span {
    font-size: 40px;
    margin-left: 40px;
}

.message {
    background-color: yellow;
    color: #333;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 270px;
    animation: openclose 5s ease-in-out infinite;
}

.word1,
.word2,
.word3 {
    font-family: tahoma;
}

@keyframes openclose {
    0% {
        top: 0.2rem;
        width: 0;
    }

    5% {
        width: 0;
    }

    15% {
        width: 230px;
    }

    30% {
        top: 0.2rem;
        width: 230px;
    }

    33% {
        top: 0.2rem;
        width: 0;
    }

    35% {
        top: 0.2rem;
        width: 0;
    }

    38% {
        top: -4.5rem;

    }

    48% {
        top: -4.5rem;
        width: 190px;
    }

    62% {
        top: -4.5rem;
        width: 190px;
    }

    66% {
        top: -4.5rem;
        width: 0;
        text-indent: 0;
    }

    71% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }

    86% {
        top: -9rem;
        width: 285px;
    }

    95% {
        top: -9rem;
        width: 285px;
    }

    98% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }

    100% {
        top: 0;
        width: 0;
        text-indent: 0;
    }
}

.text-input {
    position: relative;
}

.text-input input[type=number] {
    display: inline-block;
    width: 210px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px 10px 10px 100px;
    transition: all 0.1s ease-out;
}

.text-input input[type=number]+label {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    color: white;
    border-radius: 3px 0 0 3px;
    padding: 0 10px;
    background: #E03616;
    transform: translateZ(0) translateX(0);
    transition: all 0.3s ease-in;
    transition-delay: 0.2s;
}

.text-input input[type=number]:focus+label {
    transform: translateY(-120%) translateX(0%);
    border-radius: 3px;
    transition: all 0.1s ease-out;
}

.text-input input[type=number]:focus {
    padding: 10px;
    transition: all 0.3s ease-out;
    transition-delay: 0.2s;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}

.overlay.light {
    background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 75px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #666;
    width: 300px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    position: relative;
}

.light .popup {
    border-color: #aaa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.popup h2 {
    margin-top: 0;
    color: #666;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
}

.popup .close:hover {
    opacity: 1;
}

.popup .content {
    max-height: 400px;
    overflow: auto;
}

.popup p {
    margin: 0 0 1em;
}

.popup p:last-child {
    margin: 0;
}